.img {
  display: block;
  width: 100%;
}
.map-info {
  min-height: 550px;
}
.myspan {
  display: block;
  min-height: 125px;
}
.map-info span {
  font-size: 19px;
}
@media (max-width: 1000px) {
  .map-info {
    min-height: 100px;
  }

}
